#backbtn{
    background-color: black;
    color:white;
    font-size: 2rem;
    position: absolute;
}
#backbtn:hover{
 color:black;
 background-color:red;
}
body{
    background : url(assets/Fireworkbackground.jpg) no-repeat center center  fixed;
    background-size:cover;
}