body{
  background: url("assets/Background.jpeg") no-repeat center center fixed ;
  background-size: cover;
}
body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.first {
 text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2rem;
  border-radius: 20px;
  border: 1px solid rgba(7, 226, 250, 0.2);
  box-shadow: 10px 20px 200px rgb(239, 239, 239);
}
.heading {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #00ffff;
}
.buttongroup {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.option {
  background-color: #080808;
  color : aqua;
  border : 2px solid aqua;
  padding: 1rem 2rem;
  font-size: 1rem;
  border-radius: 10px;
  cursor: pointer;
  font-weight:bold;
  box-shadow: #f1efef;
  letter-spacing : 1px;
}
.option:hover {
  background-color: aqua;
  color: black;
  transform: scale(1.2);
}
